.div_cookies {
    position: fixed !important;
    width: 100%;
    left: 0px;
    z-index: 99999999999999;
    background-color: #fff;
    display: none;
    border-top: 1px solid #000;
}

.div_cookies p {
    font-size: 12px !important;
}

.block_cookies {
    width: 60%;
    margin: auto !important;
}

.texto_cookies {
    text-align: center;
    padding: 10px 0px;
    margin: 0px !important;
}

.div_cookies .col_2_3 {
    width: 70%;
    float: left;
}

.div_cookies .col_1_3 {
    float: left;
    padding-left: 5%;
}

#btn_cookies {
    padding: 8px 35px;
    font-size: 12px;
    line-height: 46px;
    text-decoration: none;
    border: 0px !important;
    cursor: pointer;
}

.columns_1_4_footer a img {
    padding-top: 12px !important;
}

.columns_1_4_footer {
    float: left;
    width: 20%;
    padding: 1% !important;
}

.columns_1_3_footer {
    float: left;
    width: 33.33%;
    padding: 1% !important;
}

.columns_1_2_footer {
    float: left;
    width: 60%;
    padding: 1% !important;
}

.columns_1_2_footer,
.columns_1_3_footer,
.columns_1_4_footer {
    box-sizing: border-box !important;
}

@media screen and (max-width: 780px) {
    .div_cookies .col_1_3,
    .div_cookies .col_2_3,
    .columns_1_3_footer,
    .block_cookies {
        width: 100%;
        padding: 0px;
    }
    #btn_cookies {
        position: relative;
        left: 50%;
        margin-left: -52px;
    }
    .columns_1_4_footer,
    .columns_1_2_footer {
        float: left;
        width: 100%;
        padding: 1% 0.5% !important;
    }
}

.opt_table_rgpd {
    border: 1px solid#dcdcdc;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .08), inset 0 0 0 1px rgba(255, 255, 255, .5);
    overflow-x: auto;
    width: 100% !important;
    max-width: 100%;
    border-collapse: collapse;
}

.opt_table_rgpd tbody {
    max-width: 100%;
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    text-align: left !important;
}

.opt_table_rgpd tr {
    max-width: 100%;
    display: table-row;
    vertical-align: middle;
    border-color: inherit;
}

.opt_table_rgpd th {
    max-width: 100%;
    border: 1px solid #dcdcdc;
    background: #f6f6f6;
}

.opt_table_rgpd td {
    border: 1px solid#dcdcdc;
    max-width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.opt_table_rgpd td {
    padding: 15px 20px;
    text-align: left !important;
}

.opt_table_rgpd tr:nth-child(even) {
    background: #f6f6f6;
}